/* HTML5 */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, mark, main {
  display: block; }

/* ---------------------------------- */
/* Normalize */
html {
  height: 100%; }

body {
  -webkit-text-size-adjust: 100%; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, a, p, blockquote, th, td {
  vertical-align: baseline; }

img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

/* ---------------------------------- */
/* ClearFix */
.cf:before,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }
